#root a{
    color:#834b0b;
}

#root div{
    color:#834b0b;
}

#root svg {
    fill: #834b0b;
}

#root .belxYo{
    background-image: none !important;
    background-color: #f4f8f1 !important;
    box-shadow: none;
}

#root .eFunNW {
    max-width: 950px !important;
    background: none !important;
}

#root #terraswap {
    background: #fff;
    height: 250px;
    margin-bottom: 30px;
    border-radius: 15px;
    text-align: center;
}

#root .jUTRyE{
    box-shadow: none;
    border-radius: 0;
}

#root #token-presale-btn {
    background-color: #82ba23;
    width: 280px;
    text-align: center;
    box-shadow: 0px 3px 2px #d6dad3;
    height: 55px;
    border-radius: 10px;
}

#root #token-presale {
    text-align: center;
}

#root .box-swap {
    width: 490px;
    margin: auto;
    padding-top: 47px;
}

#root .box-swap p {
    line-height: 20px;
}

#root .box-swap h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

#root .box-swap-two {
    width: 50%;
    float: left;
}

.box-swap-background{
    background-color: #fff;
    min-height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

#root .box-swap-first {
    margin-right: 20px;
    border-radius: 15px;
    min-height: 200px;
    position: absolute;
    background-repeat: no-repeat;
    background-position-x: -26px;
    background-position-y: 3px;
    background-size: cover;
    width: 110%;
    bottom: 0;
}

.box-swap-first h2{
    position: absolute;
    top: -128px;
    left: 35px;
}

#root .box-swap-last {
    background: #fff;
    margin-left: 20px;
    padding: 25px;
    border-radius: 10px;
    min-height: 350px;
    position: relative;
}

.box-swap-two h2 {
    font-size: 30px;
    margin-top: 10px;
    font-weight: 600;
}

.row-box {
    margin-top: 30px;
}

.box-swap-last ul {
    margin-top: 20px;
}

.box-swap-last ul li {
    list-style: none;
    padding: 5px 0;
}

.dash-tree {
    float: right;
}

.coming-soon-bottom {
    position: absolute;
    bottom: 40px;
}

.box-swap-image {
    display: flex;
    align-items: center;
    margin-left: 30px;
    position: absolute;
    top: -50px;
}

.box-swap-image img { 
    width: 50px;
    margin-right: 20px;
}

.box-swap-image .coming-soon{
    margin-top: 10px;
}

.box-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -19px;
    background-position-y: -22px;
    height: 100%;
    width: 105.5%;
    border-radius: 15px;
}

#root .sc-jgHCyG.hRwVTg {
    display: none;
}

#root button.sc-dlfnbm.geyxuV {
    display: none;
}